extends:
  - '@rixo'

globals:
  console: true

settings:
  import/core-modules:
    - svelte/internal

overrides:
  - files:
      - "packages/svelte-hmr/index.js"
      - "packages/svelte-hmr/lib/**/*"
      - "**/rollup.config.js"
    env:
      node: true
