extends:
  - '@rixo'

globals:
  console: true

settings:
  import/core-modules:
    - svelte/internal

overrides:
  - files: ["index.js", "index.cjs", "index.mjs", "./lib/**/*"]
    env:
      node: true
